[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
attrs = "==19.1.0"
cached-property = "==1.5.1"
certifi = "==2018.11.29"
chardet = "==3.0.4"
colorama = "==0.3.9"
cursor = "==1.2.0"
defusedxml = "==0.5.0"
enum34 = "==1.1.6"
halo = "==0.0.23"
idna = "==2.8"
isodate = "==0.6.0"
jdcal = "==1.4"
lxml = "==4.3.2"
openpyxl = "==2.5.14"
pyodbc = "==4.0.26"
pytz = "==2018.9"
requests-toolbelt = "==0.9.1"
requests = "==2.21.0"
six = "==1.11.0"
spinners = "==0.0.23"
termcolor = "==1.1.0"
urllib3 = "==1.24.1"
zeep = "==3.2.0"
et_xmlfile = "==1.0.1"
log_symbols = "==0.0.12"
cx-Oracle = "==6.0"

[requires]
python_version = "3.4"
